* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #fcfaf2;
}

/* ----------導覽列開始---------------- */
.nav {
  width: 100%;
  height: 75px;
  background-color: #0f1016d4;
  color: #f0f0f0;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* #0f1016d4 */
}

.nav h1 {
  margin-left: 20px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 20px;
}

.nav ul li {
  font-size: 25px;
}

.nav ul li a {
  /* color: rgb(186, 50, 50); */
  color: #de8730e7;
  text-decoration: none;
}

.nav ul li a:hover {
  color: rgb(50, 186, 102);
  text-decoration: none;
}

.menu-toogle,
.menu-icon {
  display: none;
}

.nav-phone {
  display: none;
}

/* ----------導覽列結束---------------- */

/* ------------TOP按鈕---------------- */

.return_top {
  animation: appear 10s linear;
  animation-timeline: view();
  position: fixed;
  left: 95%;
  top: 90%;
}
.return_top h1 i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(253, 199, 112, 0.8);
  font-size: 30px;
  position: fixed;
  z-index: 99;
  border-radius: 50%;
  left: 95%;
  top: 90%;
  text-align: center;
  color: #462506cb;
}

.return_top h1 a {
  text-decoration: none;
  cursor: pointer;
  color: #1137b1b2;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ------------TOP按鈕結束---------------- */

/* -----------看板---------------------- */
.border {
  display: grid;
  /* 使用 Grid 布局 */
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 100px;
}

.border img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: grid;
  grid-column: 1/13;
}

/* -----------看板結束------------------- */

/* -----------------------------main開始------------------------------------- */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.map-con {
  grid-column: 1/8;
  margin-left: 20px;
}

.map-con h1 {
  margin-bottom: 20px;
  width: 200px;
  height: 100px;
  padding-bottom: 5px;
  width: 400px;
  height: 55px;
  border-bottom: 1px solid rgb(125, 125, 125);
  /* box-shadow: 0 4px rgba(142, 142, 142, 0.109); */
}

.map-ref {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 8px;
}

.p1 {
  grid-column: 1/3;
  text-align: end;
  line-height: 25px;
}

.p2 {
  grid-column: 4/12;
  text-align: start;
  margin-left: 20px;
  line-height: 25px;
}

.map {
  grid-column: 8/12;
  margin-right: 20px;
}

.map iframe {
  margin-top: 60px;
  width: 100%;
}

.map-con a {
  color: black;
  text-decoration: none;
}

.map-con a:hover {
  color: rgb(0, 38, 255);
}

hr {
  width: 45%;
  margin: 150px auto;
  background: linear-gradient(
    to right,
    rgba(65, 65, 65, 0.1),
    rgba(65, 65, 65, 0.3),
    rgb(65, 65, 65, 0.4),
    rgba(65, 65, 65, 0.3),
    rgba(65, 65, 65, 0.1)
  );
  height: 1.5px;
  border: 0;
  /* border-top: 1px solid rgba(65, 65, 65, 0.2); */
  box-shadow: 0 0 10px rgba(45, 45, 45, 0.3);
}

/* -----------------------------main結束----------------------------------- */

/* ------------footer--------------------- */

.footer {
  width: 100%;
  height: 45px;
  height: 100px;
  background-color: #de8730e7;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  margin-top: 150px;
}

/* ----------------footer結束--------------------- */

/* ---------------1024px自適應開始------------------------ */

@media (max-width: 1024px) {
  .row {
    grid-template-columns: repeat(12, 1fr);
  }

  .map-con {
    grid-column: 4/11;
  }

  .map {
    grid-column: 4/11;
  }

  .map-ref {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 8px;
  }

  .p1 {
    grid-column: 1/3;
    text-align: start;
  }

  .p2 {
    grid-column: 5/12;
    text-align: start;
    margin-left: 20px;
  }
}

hr {
  width: 45%;
}

/* ---------------1024手機版本ReturnTop------------------- */
.return_top h1 i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(253, 199, 112, 0.8);
  font-size: 30px;
  position: fixed;
  z-index: 99;
  border-radius: 50%;
  left: 95%;
  top: 90%;
  text-align: center;
  color: #462506cb;
  z-index: 0;
}

/* ---------------1024手機版本ReturnTop結束--------------- */

/* ---------------1024px自適應結束------------------------ */

/* ---------------960px自適應開始------------------------ */
@media (max-width: 1019px) {
  .row {
    grid-template-columns: repeat(1fr);
  }
  .map-con {
    grid-column: 2/12;
    margin: 0px;
  }
  .map {
    grid-column: 1/13;
    margin: 0px;
  }

  .map iframe {
    width: 100%;
  }

  .map-con h1 {
    margin-bottom: 20px;
    height: 100px;
    padding-bottom: 5px;
    width: 300px;
    height: 55px;
    border-bottom: 1px solid rgb(125, 125, 125);
    /* box-shadow: 0 4px rgba(142, 142, 142, 0.109); */
  }

  .map-ref {
    display: grid;
    grid-template-columns: repeat(1fr);
    margin-top: 8px;
  }

  .p1 {
    grid-column: 1/5;
    text-align: end;
  }

  .p2 {
    grid-column: 6/13;
    text-align: start;
    margin-left: 20px;
  }

  hr {
    width: 45%;
  }

  /* ------------------------nav-------------------------- */

  /* -----------隱藏網頁版的NAV--------------- */
  .nav {
    display: none;
  }

  /* ------------------------------------------------- */

  /* -------------------顯示手機版的NAV--------------- */
  .nav-phone {
    display: block;
  }

  ------------------------------------------------------

/* -----------------手機版NAV開始---------------------- */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  .burger h1 {
    margin-left: 10px;
    color: #f0f0f0;
  }

  .burger {
    width: 100%;
    height: 85px;
    background-color: #0f1016d4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  }

  .checkbox-toggles {
    display: none;
  }

  .checkbox-icon {
    cursor: pointer;
  }

  .burger-menu {
    background-color: rgb(255, 153, 0);
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 20px;
    border-radius: 10px;
  }

  .burger-menu li {
    width: 35px;
    height: 2px;
    border: 2px solid #462506cb;
    background-color: #462506cb;
    list-style: none;
  }

  /* -------------------------側邊隱藏欄位---------------------- */
  #overlay {
    /* display: none; */
    top: 85px;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    cursor: pointer;
    transform: translateX(-100%);
    overflow: hidden;
  }

  /* ------------------------------------------------------------------- */
  .checkbox-toggles:checked + .checkbox-icon #line1 {
    transition: 0.2s linear;
    transform: rotate(45deg) translate(5px, 5px);
  }

  .checkbox-toggles:checked + .checkbox-icon #line2 {
    opacity: 0;
  }

  .checkbox-toggles:checked + .checkbox-icon #line3 {
    transition: 0.2s linear;
    transform: rotate(-45deg) translate(7px, -7px);
  }

  /* -------------------------側邊隱藏欄位---------------------- */
  .checkbox-toggles:checked + .checkbox-icon #overlay {
    transform: translateX(0%);
    transition: all 0.3s;
    animation: fadein 0.5s ease;
  }

  /* ------------------------------------------------------------------- */

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .nav-menu {
    display: flex;
    justify-content: start;
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 85px;
    right: 0;
    background-color: #3e2d19;
    height: 100vh;
    /*(XX%)vh=占滿螢幕高度*/
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 99;
  }

  .nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  }

  .nav-menu ul li {
    list-style: none;
    border-bottom: 2px solid #fbecec2e;
    font-size: 30px;
    overflow: hidden;
    height: 40px;
  }

  .nav-menu ul li:nth-child(1) {
    margin-top: 40px;
  }

  .nav-menu ul li:nth-child(2),
  .nav-menu ul li:nth-child(3),
  .nav-menu ul li:nth-child(4) {
    margin-top: 10px;
  }

  .nav-menu ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 30px;
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    justify-content: flex-start;
  }

  .nav-menu a:hover {
    color: rgba(253, 199, 112, 0.8);
  }

  .checkbox-toggles:checked ~ .nav-menu {
    transform: translateX(0%);
    transition: transform 0.3s ease;
  }

  /* ---------------手機板nav結束----------------------- */

  /* ---------------920手機版本ReturnTop------------------- */
  .return_top h1 i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(253, 199, 112, 0.8);
    font-size: 30px;
    position: fixed;
    z-index: 99;
    border-radius: 50%;
    left: 86%;
    top: 90%;
    text-align: center;
    color: #371c03cb;
  }

  /* ---------------920手機版本ReturnTop結束--------------- */

  /* ---------------920px自適應結束------------------ */

  /* .s1{
    margin-left: 100;
}

.s2{
    margin-right:100;
} */
}
