* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3794;
}

.container {
  position: relative;
  width: 60%;
  background: #fff;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.heading {
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: rgb(16, 163, 226);
}

form {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.entryarea {
  position: relative; /*這邊設定為依附條件*/
  height: 60px; /*這邊設定跟input一樣的高度*/
  line-height: 60px; /*這邊設定跟input一樣的高度*/
  margin: 12px 0;
  width: 100%;
}

.labelline {
  position: absolute; /*absolute會有兩層，所以會蓋到其他的元素*/
  font-size: 16px;
  color: #3794ff;
  background: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
  top: 8px;
  padding: 0 5px;
  margin: 0 20px;
}

.entryarea input {
  position: absolute; /*absolute會尋找父元素的relative依附*/
  background: transparent; /*為了要讓label顯示出來*/
  width: 100%;
  line-height: 30px;
  outline: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 25px;
  z-index: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding-right: 63px; /*讓input不要蓋到右邊的圖片*/
}

.entryarea input:focus,
.entryarea input:valid {
  color: #106ddfb7;
  border: 2px solid #106ddfb7;
}

.entryarea input:focus + .labelline,
.entryarea input:not(:placeholder-shown) + .labelline {
  color: #106ddfb7;
  transform: translate(-8px, -21px) scale(1, 0.88);
  height: 30px;
  line-height: 30px;
  z-index: 1111;
}

.fa-solid {
  position: absolute;
  right: 32px;
  top: 26px;
  cursor: pointer;
  z-index: 11;
  width: 20px;
}

#btn {
  margin-top: 30px;
  font-size: 1.6em;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background: #3794ff;
  color: #fff;
  padding: 16px 0;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
